# written against sioyek 2.0.0

background_color           0.97 0.94 0.89
custom_background_color    0.06 0.06 0.06
custom_text_color          0.98 0.96 0.87

# should_launch_new_instance is deprecated on 2.0.0, but seems
# to still work. probably a bug
should_launch_new_instance 1
should_launch_new_window 1

highlight_color_i	0.60 0.65 0.60
